@import 'bootstrap/scss/bootstrap.scss';

$color1: #142D40;
$color2: #295A80;
$color3: #3D87BF;
$color4: #49A2E6;
$color5: #52B4FF;

body {
    background-color: $color2;
}

.itemcount {
    width: 100%;
    height: 100%;
    padding-bottom: 30px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.button {
    padding: 10px;
    border: 3px solid;
    margin: 10px;
    min-width: 130px;
    width: 80%;
    display: inline-flex;
    justify-content: space-between;
    border-radius: 2rem;
    border-color: $color4;
    background-color: $color1;
    padding: 8px;
    text-align: center;
}

.sbutton {
    background-color: transparent;
    border-radius: 0;
    border-color: transparent;
    color: $color4;
    font-size: 20px;
}

.sbutton-add {
    background-color: transparent;
    border-radius: 0;
    border-color: transparent;
    color: $color4;
    font-size: 22px;
}

.add {
    padding: 10px;
    border: 3px solid;
    min-width: 130px;
    width: 80%;
    border-radius: 2rem;
    border-color: $color4;
    background-color: $color1;
    padding: 8px;
    text-align: center;
}

.dropdown-menu {
    background-color: $color1;
    border: 1px solid $color5;
}

.navbar-dark .navbar-brand {
    color: $color4;
}

.nav-link {
    color: $color4;
};

.bg-dark {
    background-color: $color1 !important;
}

.stock {
    color: $color4;
    font-size: 25px;
    line-height: 1.3;
    margin-bottom: 0;
}

.image {
    width: auto;
    height: 200px;
    margin-top: 7%;
}

.col-3{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    background-color: $color1;
    border: 2px solid;
    border-radius: 10px;
    border-color: $color5;
}

.row{
    justify-content: space-evenly;
}

.list-word{
    color: $color4;
    text-align: center;
}

.container-fluid{
    margin-top: 4%;
}

.word-container{
    padding: 40px;
}

.infoButton {
    margin-bottom: 8%;
}